<app-update-task
  *ngIf="showUpdateTaskForm"
  [task]="task"
  (onUpdateTask)="onUpdate($event)"
></app-update-task>
<!-- (onUpdateTask yra emitted iš update-task.ts Output kaip event) -->

<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}
    <fa-icon
      (click)="onDelete(task)"
      [ngStyle]="{ color: 'brown' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>
    {{ task.day }}
    <fa-icon
      (click)="toggleUpdateTask(task)"
      [ngStyle]="{ color: 'green' }"
      [icon]="faPencilAlt"
    ></fa-icon>
  </p>
</div>
